{namespace k=TYPO3\Kickstart\ViewHelpers}<![CDATA[<f:layout name="Default" />

<f:section name="Title">]]>New <k:inflect.humanizeCamelCase lowercase="true">{modelName}</k:inflect.humanizeCamelCase><![CDATA[</f:section>

<f:section name="Content">]]>
	<p>Just fill out the following form to create a new <k:inflect.humanizeCamelCase lowercase="true">{modelName}</k:inflect.humanizeCamelCase>:</p>

	<![CDATA[<f:form action="create"]]> name="new<k:uppercaseFirst>{modelName}</k:uppercaseFirst>">
		<ol><f:for each="{propertyNames}" as="propertyName">
			<li>
				<label for="{propertyName}"><k:inflect.humanizeCamelCase>{propertyName}</k:inflect.humanizeCamelCase></label>
				<![CDATA[<f:form.textbox]]> property="{propertyName}" id="{propertyName}" />
			</li>
		</f:for>
			<li>
				<![CDATA[<f:form.submit value="Create" />
			</li>
		</ol>
	</f:form>]]>
<![CDATA[</f:section>]]>