<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" xmlns:f="urn:flow3:fluid">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>{viewName} view of {controllerName} controller</title> 
		<![CDATA[<f:base />]]>
	</head>
	<body>
		<h1>A freshly created Fluid template!</h1>
		<p>Some data set by the controller:</p>
		<ul>
			<![CDATA[
			<f:for each="{foos}" as="foo">
			<li>{foo}</li>
			</f:for>
			]]>
		</ul>
	</body>
</html>