#                                                                        #
# Example Settings                                                       #
#                                                                        #
# This file contains settings for various parts of the application.      #
# Copy this file to Settings.yaml, and adjust as necessary.              #
#                                                                        #
# Please refer to the default settings file(s) or the manuals for        #
# possible configuration options.                                        #
#                                                                        #

TYPO3:
  FLOW3:
    persistence:
      backendOptions:
        dbname: 'flow3' # adjust to your database name
        user: ''             # adjust to your database user
        password: ''         # adjust to your database password

#      doctrine:
        # If you have APC, you should consider using it for Production,
        # also MemcacheCache and XcacheCache exist.
#        cacheImplementation: 'Doctrine\Common\Cache\ApcCache'
