language: php
matrix:
  fast_finish: true
  include:
    - php: 7.1
      env: DB=mysql
      addons:
        mariadb: '10.2'
    - php: 7.1
      env: DB=pgsql
      sudo: required
      addons:
        postgresql: "9.4"
    - php: 7.1
      env: DB=mysql BEHAT=true
      addons:
        mariadb: '10.2'
    - php: 7.1
      env: DB=pgsql BEHAT=true
      sudo: required
      addons:
        postgresql: "9.4"
    - php: 7.2
      env: DB=mysql
      addons:
        mariadb: '10.2'
    - php: 7.2
      env: DB=mysql BEHAT=true
      addons:
        mariadb: '10.2'
cache:
  directories:
    - $HOME/.composer/cache
before_install:
  - export NEOS_TARGET_REPOSITORY=neos/flow-development-collection
  - export NEOS_TARGET_VERSION=5.2
  - if [ "$DB" = "pgsql" ]; then sudo mount -o remount,size=25% /var/ramfs ; fi
  - phpenv config-rm xdebug.ini
  - env
  - sudo add-apt-repository ppa:git-core/ppa -y
  - sudo apt-get update
  - sudo apt-get install git -y
  - git checkout -b travis
  - cd ..
  - git clone https://github.com/neos/flow-development-distribution.git -b ${NEOS_TARGET_VERSION}
  - cd flow-development-distribution
install:
  - composer self-update -q
  - if [ -n "$GH_TOKEN" ]; then composer config github-oauth.github.com ${GH_TOKEN}; fi;
  - composer update --no-progress --no-interaction
  - php Build/BuildEssentials/TravisCi/ComposerManifestUpdater.php .
  - composer update --no-progress --no-interaction
before_script:
  - echo 'date.timezone = "Africa/Tunis"' >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini
  - echo 'opcache.fast_shutdown = 0' >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini
  - echo 'opcache.enable_cli = 0' >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini
  - echo 'zend.enable_gc = 0' >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini
  - echo 'report_zend_debug = 0' >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini
  - echo 'report_memleaks = 0' >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini
  - echo 'bin/phpunit --colors -c Build/BuildEssentials/PhpUnit/UnitTests.xml && exit 0' > unittest.sh
  - echo 'if [ $? -eq 139 ]; then exit 0 ; else exit $? ; fi' >> unittest.sh
  - rm -f Configuration/Routes.yaml
  - cp Configuration/Settings.yaml.example Configuration/Settings.yaml
  - Build/BuildEssentials/TravisCi/SetupDatabase.sh
  - cp Configuration/Settings.yaml Configuration/Testing/
  - if [ "$BEHAT" = "true" ]; then composer install -d Build/Behat; fi
  - if [ "$DB" = "mysql" ]; then echo "MariaDB version ${TRAVIS_MARIADB_VERSION}"; fi
script:
  - if [ "$BEHAT" != "true" ]; then sh ./unittest.sh ; fi
  - if [ "$BEHAT" != "true" ]; then bin/phpunit --colors --stop-on-failure -c Build/BuildEssentials/PhpUnit/FunctionalTests.xml --testsuite "Framework tests"; fi
  - if [ "$BEHAT" = "true" ]; then FLOW_CONTEXT=Testing/Behat ./flow doctrine:create; fi
  - if [ "$BEHAT" = "true" ]; then bin/behat --ansi --stop-on-failure -f progress -c Packages/Framework/Neos.Flow/Tests/Behavior/behat.yml.dist; fi
notifications:
  email: false
  slack:
    rooms:
      secure: Ya3VRC3SSmPBDnQEADUimct2SkCEymMZTo3Zmkv7OoadmSl9vWOGd0HIDJjOShUtNbLWPkYeiNxIyOegHXYhFoVL2lX9sp2MLVdv9JK/rKQITHrESl+AulqYkq1bQiPzTfltludljUZmhZUxt1jpqazqp5iCGzWvKYawDjIaretLFvs3jsG6ZGnnFiN88HF4d5K+vImslckzCwh3pcQk227uaug/dXVJySx9/9VsCjhNTq2avcVziz/4vswuR/XSa6iPJ/j+7YBzsvVUOybKPQLtG6tx5THk38JkOjg+P09Mrz+Sz18aAROzrITV/gvjk1D+fA1wy/16mEmkfYmRVogi7DRCUGK5gd9wmQWRuYrTsMubQGJp1eSu/IBe3Z8eStRQUAK65DykwCAAyIhtLfOqH6mNy++dH5icYeSdXnw0TC0eIE0xcuWpNCansQN3ZQ1/wjXgH42LNc9WXs+D+2+Kns8Fm9HCwroVG6ws5tRB9+bbYpReIiL0b5N/p2kpiKeHR9Xn5vkdBzUGaM/O/pZIqvPmAUvIenfLqQ3k+oHvQyRZBzPTexi+93PEOd+jk3kC7vCvi9zsDxzGjbxC190T95zxZ/i6k7rcWImcC7HCAEW6aWqgARa03pJsrKvZD8IRTOVu8B17TSI4SkbjdjZi1Wvs3N68pBPX+2EaQ9M=
    on_success: change
    on_failure: change
    on_start: never
    on_pull_requests: false
