{namespace k=TYPO3\Kickstart\ViewHelpers}<?php
namespace {namespace};

/*                                                                        *
<f:format.padding padLength="74"> * This script belongs to the FLOW3 package "{packageKey}".</f:format.padding>*
 *                                                                        *
 *                                                                        */

/**
 * A repository for <k:inflect.pluralize>{modelName}</k:inflect.pluralize>
 *
 * @scope singleton
 */
class {repositoryClassName} extends \TYPO3\FLOW3\Persistence\Repository {

	// add customized methods here

}
?>