{namespace k=TYPO3\Kickstart\ViewHelpers}<?php
namespace {namespace};

/*                                                                        *
<f:format.padding padLength="74"> * This script belongs to the TYPO3 Flow package "{packageKey}".</f:format.padding>*
 *                                                                        *
 *                                                                        */

use TYPO3\Flow\Annotations as Flow;
use TYPO3\Flow\Persistence\Repository;

/**
 * @Flow\Scope("singleton")
 */
class {repositoryClassName} extends Repository {

	// add customized methods here

}