{namespace k=Neos\Kickstarter\ViewHelpers}<?php
namespace {namespace};

/*
 * This file is part of the {packageKey} package.
 */

use Neos\Flow\Annotations as Flow;
use Neos\Flow\Persistence\Repository;

/**
 * @Flow\Scope("singleton")
 */
class {repositoryClassName} extends Repository
{

    // add customized methods here

}
