<?xml version="1.0" encoding="UTF-8"?>
<xliff version="1.2" xmlns="urn:oasis:names:tc:xliff:document:1.2">
	<file original="" source-language="{sourceLanguageKey}" target-language="{targetLanguageKey}" datatype="plaintext">
		<body><f:for each="{translationUnits}" as="translationUnit" key="id">
			<trans-unit id="{id}" xml:space="preserve">
				<source>{translationUnit.0.source}</source>
				<target>Translate: {translationUnit.0.source}</target>
			</trans-unit></f:for>
		</body>
	</file>
</xliff>
