<?xml version="1.0" encoding="UTF-8"?>
<xliff version="1.2" xmlns="urn:oasis:names:tc:xliff:document:1.2">
	<file original="" product-name="{packageKey}" source-language="{languageKey}" datatype="plaintext">
		<body>
			<trans-unit id="some.id" xml:space="preserve">
				<source>Some label</source>
			</trans-unit>
		</body>
	</file>
</xliff>
