Neos:
  Flow:
    http:
      middlewares:
        'ajaxWidget':
          position: 'before routing'
          middleware: 'Neos\FluidAdaptor\Core\Widget\AjaxWidgetMiddleware'
    mvc:
      view:
        defaultImplementation: 'Neos\FluidAdaptor\View\TemplateView'

    error:
      debugger:
        ignoredClasses:
          'Neos\\FluidAdaptor\\.*': true
      exceptionHandler:
        # default options for all rendering groups (see below). Options can be overridden in the respective rendering group
        defaultRenderingOptions:
          viewClassName: Neos\FluidAdaptor\View\StandaloneView
    object:
      includeClasses:
        'typo3fluid.fluid': ['.*']
  # DocTools is a tool used by Flow Developers to help with a variety of documentation tasks.
  # These settings are only used in generating Documentation.
  DocTools:
    collections:
      'Flow':
        references:
          - 'TYPO3Fluid:ViewHelpers'
          - 'Flow:FluidAdaptorViewHelpers'

    commandReferences:
      'Flow:FlowCommands':
        packageKeys:
          - 'Neos.FluidAdaptor'
    references:
      'TYPO3Fluid:ViewHelpers':
        title: 'TYPO3 Fluid ViewHelper Reference'
        savePathAndFilename: '%FLOW_PATH_PACKAGES%Framework/Neos.Flow/Documentation/TheDefinitiveGuide/PartV/TYPO3FluidViewHelperReference.rst'
        affectedClasses:
          parentClassName: TYPO3Fluid\Fluid\Core\ViewHelper\AbstractViewHelper
          classNamePattern: '/^TYPO3Fluid\\Fluid\\ViewHelpers\\.*$/i'
        parser:
          implementationClassName: Neos\DocTools\Domain\Service\FluidViewHelperClassParser
          options:
            namespaces:
              f: TYPO3Fluid\Fluid\ViewHelpers
      'Flow:FluidAdaptorViewHelpers':
        title: 'FluidAdaptor ViewHelper Reference'
        savePathAndFilename: '%FLOW_PATH_PACKAGES%Framework/Neos.Flow/Documentation/TheDefinitiveGuide/PartV/FluidAdaptorViewHelperReference.rst'
        affectedClasses:
          parentClassName: 'Neos\FluidAdaptor\Core\ViewHelper\AbstractViewHelper'
          classNamePattern: '/^Neos\\FluidAdaptor\\ViewHelpers\\.*$/i'
        parser:
          implementationClassName: 'Neos\DocTools\Domain\Service\FluidViewHelperClassParser'
          options:
            namespaces:
              f: 'Neos\FluidAdaptor\ViewHelpers'
