<?php
namespace {packageNamespace}\Command;

/*                                                                        *
<f:format.padding padLength="74"> * This script belongs to the FLOW3 package "{packageKey}".</f:format.padding>*
 *                                                                        *
 *                                                                        */

/**
 * {controllerName} command controller for the {packageKey} package
 *
 * @scope singleton
 */
class {controllerClassName} extends \TYPO3\FLOW3\MVC\Controller\CommandController {

	/**
	 * An example command
	 *
	 * The comment of this command method is also used for FLOW3's help screens. The first line should give a very short
	 * summary about what the command does. Then, after an empty line, you should explain in more detail what the command
	 * does. You might also give some usage example.
	 *
	 * It is important to document the parameters with param tags, because that information will also appear in the help
	 * screen.
	 *
	 * @param string $requiredArgument This argument is required
	 * @param string $optionalArgument This argument is optional
	 * @return void
	 */
	public function exampleCommand($requiredArgument, $optionalArgument = NULL) {
		$this->outputLine('You called the example command and passed "%s" as the first argument.', array($requiredArgument));
	}

}

?>