<?php
namespace {packageNamespace};

use \TYPO3\FLOW3\Package\Package as BasePackage;

/**
 * Package base class of the {packageKey} package.
 *
 * @scope singleton
 */
class Package extends BasePackage {

}
?>