* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #e6e6e6;
    font-family: 'Work Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    padding: 20px;
}

pre {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

ol > li {
  color: #ffffff;
}

h1, h2, h3 {
  font-weight: normal;
}

.color-muted {
    color: #ffffff;
}

.color-highlight {
    color: #D75200;
}

.color-text-inverted {
    color: #00ADEE;
}

.ExceptionSubject {
    font-size: 18px;
    line-height: 150%;
    margin: 0 0 15px 0;
    color: #00ADEE;
}

.ExceptionBody {
    padding: 10px;
    margin: 10px;
    color: #000000;
}

.ExceptionProperty {
    color: #34363C;
}

pre {
    margin: 0;
    font-size: 11px;
    color: #656a71;
    background-color: #ffffff;
    padding-left: 30px;
}

.Flow-Debug-Exception-Header {
    background: #fff;
    color: #656a71;
    padding: 5px;
}

.Flow-Debug-Exception-Footer {
    background: #fff;
    color: #656a71;
    padding: 5px;
}

.Flow-Debug-Exception-Meta, .Flow-Debug-Exception-InstanceData {
    text-align: left;
}

.Flow-Debug-Exception-Meta th, .Flow-Debug-Exception-InstanceData th {
    font-weight: normal;
    padding-right: 20px;
}

.Flow-Debug-Backtrace {
    padding: 0;
    color: #34363C;
    font-weight: bold;
    list-style-position: inside
}

.Flow-Debug-Backtrace-Step {
    margin: 5px 0 10px 0px;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 11px;
}

.Flow-Debug-Backtrace-Step-Function {
    color: #ffffff;
    background-color: #26224C;
    padding: 5px;
}

.Flow-Debug-CodeSnippet {
    font-weight: normal;
    background: #ffffff;
    padding: 5px 0;
}

.Flow-Debug-CodeSnippet-File {
    padding: 5px 0 5px 30px;
    font-size: 11px;
    color: #999999;
}

.Flow-Debug-CodeSnippet-Code-Highlighted {
    color: #00ADEE;
}
